* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

/* Nav bar */
nav.navbar.navbar-expand-lg.bg-light.fixed-top.header {
    width: 100%
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.logo {
    font-size: 35px !important;
    font-weight: 800 !important;
    letter-spacing: 2px !important;
}

.home {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.menu {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.header {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .4);
}

/* carousel  */
.w-100 {
    height: 100vh !important;
}

.w2-100 {
    height: 50vh !important;
}

.text-part {
    margin-bottom: 10% !important;
}

.text-part h3 {
    font-size: 40px;
    font-weight: 700;
}

.text-part p {
    padding: 10px;
    font-size: 18px;
}

/* teachers button  */
.teachers h5 {
    font-size: 20px;
    /* margin-left: 30px; */
    font-weight: 500;
    border-bottom: 2px solid rgb(139, 135, 135);
    padding-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    font-style: italic;
}

.ourteachers {
    font-size: 35px;
}

.teachers2 {
    background-color: #0d6fFc;
    position: relative;
}

.Myimage {
    display: flex;
    justify-content: center;
}

.Myimage img {
    border-radius: 50%;
    padding: 20px 0px;
    width: 300px;
}

.center {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.owl-carousel .item {
    height: 350px;
    transition: transform 0.5s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: -1;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.owl-carousel .item:hover {
    transition: transform 0.5s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 9;
    -webkit-filter: blur(0);
    filter: blur(0);
}

/* Form  */
.myform-image {
    position: relative;
    text-align: center;
}

.myform-image img {
    height: 370px !important;
    opacity: 0.3;
}

.myForm-Text {
    font-size: 34px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myTextArea {
    resize: none;
}

@media screen and (max-width: 600px) {
    .text-part {
        margin-bottom: 7% !important;
    }

    .text-part h3 {
        font-size: 30px;
    }

    .text-part p {
        font-size: 16px;
    }

    #dtatatable,
    #info {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .text-part {
        margin-bottom: 5% !important;
    }

    .text-part h3 {
        font-size: 25px;
    }

    .text-part p {
        font-size: 14px;
    }

}


.carousel-control-prev-icon {
    background-image: url(images/prev-arrow.png) !important;
    background-color: #ffffffb8;
    padding: 23px;
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-image: url(images/next-arrow.png) !important;
    background-color: #ffffffb8;
    padding: 23px;
    border-radius: 50%;
}

